@use "../../../app/styles/themes/dark-theme.scss" as dark;
@use "../../../app/styles/themes/ligth-theme.scss" as light;

:root {
  --background-color-unchecked-initial: #{light.$color-light-very-light-grey};
  --background-color-unchecked-hover: #{light.$color-light-very-light-grey};
  --background-color-checked: #{light.$color-light-very-light-grey};
  --background-color-checked-disabled: #{light.$color-light-very-light-grey};
  --border-color-checked: #{light.$color-light-primary-default};
  --border-color-hover: #{light.$color-light-primary-light};
  --border-color-disabled: #{light.$color-light-lighter-gray0};
  --text-color-desabled: #{light.$color-light-lighter-gray0};
}

[color-theme="dark"] {
  --background-color-unchecked-initial: #{dark.$color-dark-grey-darker};
  --background-color-unchecked-hover: #{dark.$color-dark-very-dark-grey};
  --background-color-checked: #{dark.$color-dark-lightest-grey};
  --background-color-checked-disabled: #{dark.$color-dark-darkest-grey};
  --border-color-checked: #{dark.$color-dark-primary-dark};
  --border-color-hover: #{dark.$color-dark-primary-default};
  --border-color-disabled: #{dark.$color-dark-grey-darker};
  --text-color-desabled: #{dark.$color-dark-grey-darker};
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: flex;
  width: 77px;
  height: 24px;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;

  margin-top: 5px;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--background-color-unchecked-initial);
}
input[type="radio"]:hover + label::before {
  background-color: var(--background-color-unchecked-hover);
  border: 1px solid var(--border-color-hover);
}

input[type="radio"]:checked + label::before {
  background-color: var(--background-color-checked);
  border: 6px solid var(--border-color-checked);
}
input[type="radio"]:checked:hover + label::before {
  border-color: var(--border-color-hover);
}

input[type="radio"]:disabled + label::before {
  border-color: var(--border-color-disabled);
  background-color: var(--background-color-checked-disabled);
}
input[type="radio"]:disabled + label {
  color: var(--text-color-desabled);
}
input[type="radio"]:disabled:hover + label::before {
  border-color: var(--border-color-disabled);
  cursor: not-allowed;
}
