.posts-list {
  width: 743px;
  height: fit-content;

  &__sort {
    width: fit-content;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    row-gap: 24px;
  }
}
