.layout {
  width: 100%;
  height: fit-content;
}

main {
  width: fit-content;
  height: fit-content;

  margin-inline: auto;
}

@media (max-width: 376px) {
  main {
    width: 375px;
    padding-inline: 12px;
  }
}
