@use "@shared/styles/themes/dark-theme.scss" as dark;
@use "@shared/styles/themes/ligth-theme.scss" as light;

:root {
  --profile-background-color: #{light.$color-light-white};
  --profile-text-header-color: #{light.$color-light-primary-default};
}

[color-theme="dark"] {
  --profile-background-color: #{dark.$color-dark-very-dark-grey};
  --profile-text-header-color: #{dark.$color-dark-primary-dark};
}

.profile__form {
  display: flex;
  flex-direction: column;

  width: 100%;

  row-gap: 24px;
}

.profile__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  column-gap: 24px;
}

@media (max-width: 376px) {
  .profile__form {
    display: flex;
    flex-direction: column;

    width: 100%;

    row-gap: 24px;
  }

  .profile__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;

    column-gap: 24px;
  }
}
