@font-face {
  font-family: "Gilroy_Bold";
  src: url(/myfeed-react/src/app/assets/fonts/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy_Medium";
  src: url(/myfeed-react/src/app/assets/fonts/Gilroy-Medium.woff2)
    format("woff2");
}

@font-face {
  font-family: "Gilroy_Regular";
  src: url(/myfeed-react/src/app/assets/fonts/Gilroy-Regular.woff2)
    format("woff2");
}

@font-face {
  font-family: "Gilroy_Semibold";
  src: url(/myfeed-react/src/app/assets/fonts/Gilroy-Semibold.woff2)
    format("woff2");
}
