@use "scss-reset";
@use "./themes/dark-theme.scss" as dark;
@use "./themes/ligth-theme.scss" as light;

$color-theme: "ligth";

:root {
  --background-color: #{light.$color-light-lighter-gray};
  --text-color: #{light.$color-light-black};
}

[color-theme="dark"] {
  --background-color: #{dark.$color-dark-dark-grey};
  --text-color: #{dark.$color-dark-white};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
