@use "../../../app/styles/themes/dark-theme.scss" as dark;
@use "../../../app/styles/themes/ligth-theme.scss" as light;

:root {
  --profile-dropdown-background-color: #{light.$color-light-white};
  --profile-dropdown-background-color-hover: #{light.$color-light-primary-lighter};

  --profile-dropdown-text-color: #{light.$color-light-darkest-grey};
  --profile-dropdown-text-color-hover: #{light.$color-light-darkest-grey};

  --profile-dropdown-icon-color: #{light.$color-light-darkest-grey};
  --profile-dropdown-icon-color-hover: #{light.$color-light-primary-light};
}

[color-theme="dark"] {
  --profile-dropdown-background-color: #{dark.$color-dark-very-dark-grey};
  --profile-dropdown-background-color-hover: #{dark.$color-dark-primary-light};

  --profile-dropdown-text-color: #{dark.$color-dark-lightest-grey};
  --profile-dropdown-text-color-hover: #{dark.$color-dark-black};

  --profile-dropdown-icon-color: #{dark.$color-dark-lightest-grey};
  --profile-dropdown-icon-color-hover: #{dark.$color-dark-primary-default};
}

.mini-profile {
  margin-top: 5px;

  position: relative;

  min-width: 209px;
  width: fit-content;
  min-height: 44px;
  height: fit-content;

  &__inner {
    width: 100%;
    height: 44px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background-color: var(--profile-dropdown-background-color);

    border-radius: 8px;

    padding-inline: 8px;

    .mini-profile__logo {
      width: 38px;
      height: 38px;

      background-color: grey;

      border-radius: 50%;
    }

    .mini-profile__name {
      height: 24px;
      min-width: 149px;

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: "Gilroy_Medium";
      font-size: 16px;
    }

    .mini-profile__drop-icon {
      height: 24px;
      width: 24px;

      & path {
        fill: var(--profile-dropdown-icon-color);
      }
    }

    &:hover path {
      fill: var(--profile-dropdown-icon-color-hover);
    }
  }
}
