$color-ligth-black: #101010;
$color-ligth-dark-grey: #212121;
$color-ligth-very-dark-grey: #303030;
$color-ligth-grey: #686868;
$color-ligth-ligther-gray: #bdbdbd;
$color-ligth-ligther-gray0: #beb9b4;
$color-ligth-very-light-grey: #f2f2f2;
$color-ligth-lightest-grey: #f6f6f6;
$color-ligth-white: #f6f6f6;

$color-ligth-primary-default: #ee683e;
$color-ligth-primary-ligth: #fd825d;
$color-ligth-primary-lighter: #ffd1c3;

$color-ligth-additional-red: #f03e3e;
$color-ligth-additional-green: #20c997;

$shadow-ligth: blur(40%) translateY(12px);
$color-ligth-gradient: #dbdbdb;

$background-color: $color-ligth-lightest-grey;
$text-color: $color-ligth-black;
