$color-light-black: #101010;
$color-light-dark-grey: #212121;
$color-light-very-dark-grey: #303030;
$color-light-grey: #686868;
$color-light-lighter-gray: #bdbdbd;
$color-light-lighter-gray0: #beb9b4;
$color-light-very-light-grey: #f2f2f2;
$color-light-lightest-grey: #f6f6f6;
$color-light-white: #f6f6f6;

$color-light-primary-default: #ee683e;
$color-light-primary-light: #fd825d;
$color-light-primary-lighter: #ffd1c3;

$color-light-additional-red: #f03e3e;
$color-light-additional-green: #20c997;

$shadow-light: blur(40%) translateY(12px);
$color-light-gradient: #dbdbdb;
