@use "../../shared/styles/themes/dark-theme.scss" as dark;
@use "../../shared/styles/themes/ligth-theme.scss" as light;

:root {
  --my-post-background-color: #{light.$color-light-white};

  --my-post-text-color: #{light.$color-light-lighter-gray};
}

[color-theme="dark"] {
  --my-post-background-color: #{dark.$color-dark-very-dark-grey};

  --my-post-text-color: #{dark.$color-dark-grey};
}

.my-posts {
  margin-top: 24px;

  width: 100%;
  height: fit-content;

  &__create {
    width: 100%;
    height: 70px;

    background-color: var(--my-post-background-color);

    padding: 5px 40px;
    border-radius: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .mobile {
      display: none;
    }

    .my-posts__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
    }

    span {
      font-family: "Gilroy_Regular";
      font-size: 16px;
      color: var(--my-post-text-color);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    margin-top: 24px;

    row-gap: 24px;
  }
}

@media (max-width: 376px) {
  .my-posts {
    &__create {
      padding: 10px 16px;

      #mb {
        display: block;
      }

      #ds {
        display: none;
      }
    }
  }
}
