@use "../../../app/styles/themes/dark-theme.scss" as dark;
@use "../../../app/styles/themes/ligth-theme.scss" as light;

:root {
  --tab-background-color-active: #{light.$color-light-primary-default};
  --tab-background-color: #{light.$color-light-white};

  --tab-text-color-active: #{light.$color-light-white};
  --tab-text-color: #{light.$color-light-primary-default};

  --tab-border-color: #{light.$color-light-primary-default};
}

[color-theme="dark"] {
  --tab-background-color-active: #{dark.$color-dark-primary-dark};
  --tab-background-color: #{dark.$color-dark-very-dark-grey};

  --tab-text-color-active: #{dark.$color-dark-white};
  --tab-text-color: #{dark.$color-dark-primary-dark};

  --tab-border-color: #{dark.$color-dark-primary-dark};
}

.tab {
  margin-top: 5px;

  width: 343px;
  height: 32px;

  display: flex;
  flex-direction: row;

  font-size: 16px;
  font-family: "Gilroy_Regular";

  &__autharization {
    width: 50%;
    height: 100%;

    border-radius: 6px 0 0 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    span:hover {
      cursor: pointer;
    }
  }

  &__registration {
    width: 50%;
    height: 100%;

    border-radius: 0 6px 6px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    span:hover {
      cursor: pointer;
    }
  }
}

.tab_auth {
  .tab__autharization {
    background-color: var(--tab-background-color-active);
    color: var(--tab-text-color-active);
  }

  .tab__registration {
    background-color: var(--tab-background-color);
    color: var(--tab-text-color);
    border: 1px solid var(--tab-background-color-active);
    border-left: none;
  }
}

.tab_registr {
  .tab__autharization {
    background-color: var(--tab-background-color);
    color: var(--tab-text-color);
    border: 1px solid var(--tab-background-color-active);
    border-right: none;
  }

  .tab__registration {
    background-color: var(--tab-background-color-active);
    color: var(--tab-text-color-active);
  }
}
